body{
    margin: 0;
    padding: 0;
}

.container{
    margin-top: 15%;
    width: 40%;
    height: 50%;
    background: gainsboro;
    
}

.form-control{
    width: 100%;
    height: 100%;
    
}

input[type="text"]{
    margin-top: 1%;
    width: 70%;
    height: 70%;
    border-right: 30%;
}

input[type="password"]{
    margin-top: 1%;
    width: 70%;
    height: 70%;
    border-right:30%;
}