body{
    margin: 0;
    background-color: aliceblue;
}

header{
    margin-top: 20px;
    text-align: center;
}

.container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    display: grid;
    grid-template-areas: 'lado1' 'lado2';
    /*background-color: yellow;*/
    border-radius: 5px;
    border: none;
    width: 100%;
    height: 350px;
    margin-top: 60px;
}

.lado1{
    grid-area: lado1;
    /*background-color: red;*/
    position: static;
    top: auto;
    left:auto;
    margin-top: 50px;
}

.lado2{
    grid-area: lado2;
    /*background-color: red;*/
    position: static;
    top: auto;
    left: auto;
    margin-top: 50px;
}

.botoes{
    /*background-color: blue;*/
    position: static;
    top: auto;
    left: auto;
    margin-top: 100px;
}

.itens{
    /*background-color: green;*/
    position: static;
    left: auto;
    top: auto;
    text-align: center;
    margin-top: 50px;
}