*{
    padding: 0;
    margin: 0;
}

body{
    margin: 0; 
    background-color: aliceblue;
}

h1{
   text-align: center; 
}

.data{
    text-align: right;
    margin-right: 30px;
}

.container{
   top: 200px;
   left: 250px;
   height: 210px;
   width: 850px;
   position: absolute;
}

.row{
    width: 850px;
    height: 210px;
}

.col{
    width: 20px;
    height: 200px;
}
