*{
    padding: 0;
    margin: 0;
}

body{
    background-color: aliceblue;
}

header{
    margin-top: 20px;
    text-align: center;
}

.container{
    
    justify-content: center;
    border-radius: 5px;
    border: none;
    width: 218px;
    height: 300px;
    margin-top: 20px;
    
}

.lado1{
    position: static;
    text-align: left;
}

.lado2{
    position: static; 
    text-align: left;
}

.botoes{
    position: static;
    margin-right: 10px;
    margin-top: 30px;
    color: blue;
}

.itens{
    position: static;
    left: auto;
    text-align: center;
    margin-top: 60px;
}