body{
    margin: 0;
    background-color: aliceblue;
}

header{
  text-align: center;
}

.container{
    border-radius: 5px;
    border: none;
    width: 329px;
    height: 250px;
    margin-top: 185px;
}

.form-control{
    border-radius: 5px;
    border: none;
    background: graytext;
    width: 329px;/*largura*/
    height: 250px;/*altura*/
}

h2{
 font: 30px Arial;
 text-align: center;
 color: aliceblue;
 margin-top: 10px;
}

input[type="text"]{
    border-radius: 5px;
    border: none;
    text-align: center;
    margin-top: 20px;
    width: 250px;
    height: 35px;
}

button[type="submit"]{
    
    text-align: center;
    margin-top: 10px;
    width: 50%;
    height: 20%;
}
