body{
    margin: 0;
    background-color: aliceblue;
}

.container{
    border-radius: 5px;
    border: none;
    width: 329px;
    height: 250px;
    position: flex;
    margin-top: 185px;
    /*
    left: 500px;
    right: 500px;
    bottom: 185px;
    */
}

.form-control{
    border-radius: 5px;
    border: none;
    /*position: absolute;*/
    background: graytext;
    width: 329px;    /*largura*/
    height: 250px; /*altura*/
  
    
}

h2{
 text-align: center;
 color: aliceblue;
 margin-top: 10px;
}

input[type="text"]{
    text-align: center;
    margin-top: 20px;
    width: 250px;
    height: 35px;
    /*border-right: 30%;*/
}

input[type="password"]{
    text-align: center;
    margin-top: 20px;
    width: 250px;
    height: 35px;
    /*border-right:30%;*/
}

button[type="submit"]{
    text-align: center;
    margin-top: 10px;
    width: 50%;
    height: 20%;
}
